@font-face {
  font-family: 'Techno Race Italic';
  src: url('./assets/Techno Race Italic Font/TechnoRaceItalic-eZRWe.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Techno Race Italic', system-ui, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #1a1a2e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

button {
  font-family: inherit;
  color: inherit;
}
